
.DS_Store
filter.dSYM/Contents/Info.plist
filter.dSYM/Contents/Resources/DWARF/filter
window.dSYM/Contents/Info.plist
KELLY_GESS_solution_2.zip
KELLY_GESS_solution_1.zip
window.dSYM/Contents/Resources/DWARF/window
readWeights.dSYM/Contents/Resources/DWARF/readWeights
readWeights.dSYM/Contents/Info.plist
